<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGS <%= title %></title>
</head>
<body>
    <nav>
        <a href="/"><h1>BLOG.io </h1></a>
        <p>A place where you can share your thoughts and idelogies</p>


        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">Create</a></li>
        </ul>

    </nav>
    <div class="pags-notfound">
        OOPS,page not found
    </div>

    
</body>
</html>