<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs |<%= title %></title>
</head>
<body>
    <nav>
        <a href="/"><h1>BLOG.io </h1></a>
        <p>A place where you can share your thoughts and idelogies</p>


        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">Create</a></li>
        </ul>

    </nav>

    <div class="about-content">
            <h4>Welcome to Blog.io, where curiosity meets insight!</h4>
            <p>At Blog.io,we.re passionate about exploring the intersections of technology, innovation, and everyday life.
            Our mission is to provide a platform that bridges the gap between complex ideas and accessible knowledge,
            making cutting-edge information available to everyone.</p>
    </div>
    
</body>
</html>