<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Blogs |<%= title  %></title>
</head>
<body>
    <form>
        <div>
            <h1>Create Blog</h1>
            <label for="title">TITLE:</label>
            <input type="text" id="title" required></input>
            <label for="snippet">Blog Snippet</label>
            <input type="text" id="snippet" required></input>
            <label for="body">Blog body:</label>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </div>
    </form>
    
</body>
</html>